# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Taipy
.taipy/
.taipy_version

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Temporários
*.tmp
*.log.bak
